<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnhtml">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_learn_html"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_learn_html"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProgressActivity"></activity>
        <activity android:name=".EditorActivity" />
        <activity android:name=".contentactivity.ContentActivity" />
        <activity android:name=".contentactivity.ContentActivity1" />
        <activity android:name=".contentactivity.ContentActivity2" />
        <activity android:name=".contentactivity.ContentActivity3" />
        <activity android:name=".contentactivity.ContentActivity4" />
        <activity android:name=".contentactivity.ContentActivity5" />
        <activity android:name=".contentactivity.ContentActivity6" />
        <activity android:name=".contentactivity.ContentActivity7" />
        <activity android:name=".contentactivity.ContentActivity8" />
        <activity android:name=".contentactivity.ContentActivity9" />
        <activity android:name=".contentactivity.ContentActivity10" />
        <activity android:name=".contentactivity.ContentActivity11" />
        <activity android:name=".contentactivity.ContentActivity12" />
        <activity android:name=".contentactivity.ContentActivity13" />
        <activity android:name=".contentactivity.ContentActivity14" />
        <activity android:name=".contentactivity.ContentActivity15" />
        <activity android:name=".contentactivity.ContentActivity16" />
        <activity android:name=".contentactivity.ContentActivity17" />
        <activity android:name=".contentactivity.ContentActivity18" />
        <activity android:name=".contentactivity.ContentActivity19" />
        <activity android:name=".contentactivity.ContentActivity20" />
        <activity android:name=".contentactivity.ContentActivity21" />
        <activity android:name=".contentactivity.ContentActivity22" />
        <activity android:name=".contentactivity.ContentActivity23" />
        <activity android:name=".contentactivity.ContentActivity24" />
        <activity android:name=".contentactivity.ContentActivity25" />
        <activity android:name=".contentactivity.ContentActivity26" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>